# Virtual Environments
.venv/
.venv311/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# model
models/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/

# Large datasets
dataset/*.tsv
dataset/*.csv
dataset/*.sqlite

# OS files
.DS_Store
Thumbs.db